*{
    margin: 0;
}
header{
    height: 20vh;
    width: 100vw;
    background-color: rgba(255, 167, 167, 0.548);
}
header>img{
    height: 100%;
    width: auto;
    display: inline-block;
}
header>input{
    display: inline-block;
    width: 30%;
}
